html {
  font-size: 16px;
}

body {
  color: #ccff00;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 62.5%; /* 1em = 10px */
}

.owner {
  font-size: 10.2em; /* 102px/10px */
  margin-top: 5%; /* 50px/1000px */
}

.social {
  top: 50em;
}

.social a {
  color: #ccff00;
  font-size: 2em; /* 20px/10px */
}

.social a:hover {
  color: white;
}

.layer {
  background-color: black;
  opacity: 0.85;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
}

.video, iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

@media screen and (max-width: 575px) {

  .owner {
    font-size: 5em; /* 102px/10px */
    margin-top: 5%; /* 50px/1000px */
  }

  .social {
    top: 40em;
  }

}
